### 1부터 10까지 출력하기(1)

In [3]:
i=1
while i<=10:     
 print(i, end=" ")    
 i = i+1

1 2 3 4 5 6 7 8 9 10

### 1부터 10까지 출력하기(2)

In [4]:
for i in range(1, 11):    
 print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

### 10부터 1까지 출력하기

In [5]:
for i in range(10, 0, -1):    
 print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

### 1부터 100까지의 합 구하기

In [6]:
sum = 0
for i in range(1, 101):     
 sum = sum+i
print(sum)

5050

### 1부터 100까지 중 짝수의 합 구하기(1)

In [7]:
sum = 0
for i in range(2, 101, 2):    
 sum = sum+i
print(sum)

2550

### 1부터 100까지 중 짝수의 합 구하기(2)

In [8]:
sum = 0
for i in range(1, 101):     
 if i%2==0:        
   sum = sum+i
print(sum)

2550

### 1,-2,3,....,99,-100의 합 구하기

In [9]:
sum = 0
for i in range(1, 101):     
 if i%2==0:         
  sum=sum-i
 else:
  sum=sum+i
print(sum)

-50

### 계승 구하기

In [10]:
fact = 1
for i in range(5, 0, -1):     
 fact = fact*i
print(fact)

120

### 약수 구하기

In [11]:
n = int(input("정수: "))
for i in range(1, n+1):     
 if n%i == 0:        
   print(i, end=" ")

1 2 4

### 공약수 구하기

In [12]:
n1 = int(input("정수: "))
n2 = int(input("정수: "))
for i in range(1, n1+1):     
 if n1%i == 0 and n2%i == 0:         
  print(i, end=" ")

1 2

### 최대공약수 구하기

In [14]:
n1 = int(input("정수: "))
n2 = int(input("정수: "))
for i in range(n1, 0, -1):     
 if n1%i==0 and n2%i==0:                 
  print(i)
  break

4

### 소수 판별하기

In [17]:
chk = 1
n = int(input("정수: "))
for i in range(2, n):     
    if n%i == 0:                  
      chk = 0
      break
if chk==1:     
   print(n, ": 소수임")
else:     
   print(n, ": 소수아님")

7 : 소수임

### 피보나치수열 구하기

In [18]:
a = 1
b = 1
print(a, b, end=" ")
for i in range(3, 21):     
 c = a+b      
 print(c, end=" ")
 a = b
 b = c

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

### 최댓값 구하기

In [19]:
a = int(input("정수: "))
m = a
while a!=0:         
 if a>m:
  m = a
 a = int(input("정수: "))
print("최댓값 :", m)

최댓값 : 30

### 직각 삼각형 모양으로 수 출력하기

In [20]:
for i in range(1, 6):
 for j in range(1, i+1):              
  print(j, end=" ")
 print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 1부터 10까지의 정수에 대한 약수 구하기

In [21]:
for i in range(1, 11):
 print(i, "약수:", end=" ")     
 for j in range(1, i+1):
  if i%j==0:
   print(j, end=" ")
 print()

1 약수: 1
2 약수: 1 2
3 약수: 1 3
4 약수: 1 2 4
5 약수: 1 5
6 약수: 1 2 3 6
7 약수: 1 7
8 약수: 1 2 4 8
9 약수: 1 3 9
10 약수: 1 2 5 10

### 2부터 100까지의 소수 구하기

In [22]:
for i in range(2, 101):     
   chk = 1     
   for j in range(2, i):
    if i%j==0:
     chk = 0
     break
   if chk==1:
    print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### 합구하기

In [6]:
n = 0
sum = 0
for i in range(1, 11):
    n = n+i
    sum = sum+n
print(sum)

220

### 구구단

In [27]:
for i in range(2, 10):    
   for j in range(1, 10):    
        print(i, "*", j, "=", i*j, end=" ")
   print()

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

### 5부터 15까지 출력하기

In [29]:
i=5
while i<=15:
 print(i, end=" ")
 i = i+1

5 6 7 8 9 10 11 12 13 14 15

### while형 반복 구조로 10부터 1까지 출력하기

In [33]:
i=10
while i>=1:
    print(i, end=" ")
    i = i-1

10 9 8 7 6 5 4 3 2 1

### 1부터 입력받은 수까지의 합 출력하기

In [36]:
sum = 1
for i in range(1, int(input("정수: "))):
    sum = sum+i
print(sum)

436

### 3의 배수의 합을 출력

In [42]:
sum = 0
for i in range(1, 101, 3):
    sum = sum+i
print(sum)

1717

### 3의 배수의 합을 출력

In [39]:
sum =0 
for i in range(1, 101):
    if i%3==0:
        sum = sum+i
print(sum)

1683

### 합 출력력

In [41]:
sum = 0
for i in range(1, 101):
    if i%3==0:
        sum=sum-i
    else:
        sum=sum+i
print(sum)

1684

### 약수 구하기

In [43]:
n = int(input("정수= "))
for i in range(1, n+1):
    if n%i == 0:
        print(i, end=" ")

1 2 5 10

### 세 수의 공약수 구하기

In [47]:
n1 = int(input("정수: "))
n2 = int(input("정수: "))
n3 = int(input("정수: "))
for i in range(1, n1+1):
    if n1%i == 0 and n2%i == 0 and n3%i == 0:
        print(i, end=" ")

1 2

### 피보나치수열의 합

In [69]:
a = 1
b = 1
sum = a+b
for i in range(3, 21):
    c = a+b
    a=b
    b=c
    sum = sum + c
print(sum)

17710

### 최솟값을 구하기

In [63]:
a = int(input("정수: "))
m = a
while a!=0:
    if a<m:
        m=a
    a = int(input("정수 :"))
print("최솟값: ", m)

최솟값:  5

### 직각 삼각형 모양으로 수 출력

In [75]:
for i in range(6, 1, -1):
    for j in range(1, i):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [89]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1