## 숫자형

In [36]:
a = 4.24E10
print(a)

42400000000.0

In [37]:
a=0o177
print(a)

127

In [38]:
a = 0x8ff
b = 0xABC
print(a)
print(b)

2303
2748

In [65]:
2**2

4

In [1]:
10*18**2+2*11

3262

In [5]:
14 % 3

2

In [39]:
14//3

4

## 문자열 자료형

In [40]:
food = "python's favorite food is perl"
food

"python's favorite food is perl"

In [41]:
say = '"python is very easy." he says.'
say

'"python is very easy." he says.'

In [43]:
multiline = "life is too short\nyou need python"
print(multiline)

life is too short
you need python

In [63]:
a = "life is too short\nyou need python"
print(a)

life is too short
you need python

In [66]:
a = "life is too short\tyou need python"
print(a)

life is too short	you need python

In [67]:
a = "life is too short\\you need python"
print(a)

life is too short\you need python

In [45]:
multiline = '''
life is too short
you need python
'''
print(multiline)

life is too short
you need python

### 문자열 연산하기

In [47]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [48]:
a ="python"
a * 2

'pythonpython'

In [6]:
print("=" * 50)
print("my program")
print("=" * 50)

==================================================
my program
==================================================

In [7]:
a = "you need python"
len(a)

15

In [61]:
a = "======================="
len(a)

23

In [49]:
a = "life is too short, you need python"
a[3]

'e'

In [64]:
a = "life is too short, you need python"
a [-3]

'h'

In [50]:
a = "life is too short, you need python"
b = a[12] + a[13] + a[14] + a[19] + a[21]
b

'shoyu'

In [51]:
a = "life is too short, you need python"
a[9:14]

'oo sh'

In [53]:
a = "20250328sunny"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20250328
sunny

In [62]:
a = "20250328sunny"
year = a[:4]
date = a[4:8]
weather = a[8:]
print(year)
print(date)
print(weather)

2025
0328
sunny

In [58]:
a = "pithon"
print(a[1])
a[:1] + 'y' + a[2:]

i

'python'

In [60]:
a = "netwark"
print(a[4])
a[:4] + 'o' + a[5:]

a

'network'

### 문자열 포매팅

In [1]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [2]:
"I eat %s apples" % "five"

'I eat five apples'

In [3]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [8]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 10 apples. so I was sick for three days'

In [4]:
"I have %s apples" % 3

'I have 3 apples'

In [5]:
"rate is %s" % 3.234

'rate is 3.234'

In [6]:
"Error is %d%%" % 98

'Error is 98%'

In [7]:
"%10s" % "hi"

'        hi'

In [8]:
"%-10s" % "Jane"

'Jane      '

In [9]:
"%0.4f" % 3.42134234

'3.4213'

In [10]:
"%10.4f" % 3.42134234

'    3.4213'

In [11]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [12]:
"I eat {0} apples".format("five")

'I eat five apples'

In [14]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [15]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [17]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [18]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [19]:
"{0:<10}".format("hi")

'hi        '

In [20]:
"{0:>10}".format("hi")

'        hi'

In [21]:
"{0:^10}".format("hi")

'    hi    '

In [23]:
"{0:=^10}".format("hi")

'====hi===='

In [24]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [25]:
y=3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [26]:
"{0:10.4f}".format(y)

'    3.4213'

In [9]:
"{{ and }}".format()

'{ and }'

In [10]:
name = "홍길동"
age = 30
f'나의 이름은 {name}입니다. 나이는{age}입니다.'

'나의 이름은 홍길동입니다. 나이는30입니다.'

In [27]:
age = 30
f'나는 내년이면 {age +1 }살이 된다.'

'나는 내년이면 31살이 된다.'

In [11]:
d = {'name':'홍길동', 'age':'30'}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [28]:
f'{"hi":<10}'

'hi        '

In [29]:
f'{"hi":>10}'

'        hi'

In [30]:
f'{"hi":^10}'

'    hi    '

In [31]:
f'{"hi":=^10}'

'====hi===='

In [32]:
f'{"hi":!<10}'

'hi!!!!!!!!'

In [33]:
y=3.42134234
f'{y:0.4f}'

'3.4213'

In [34]:
f'{y:10.4f}'

'    3.4213'

In [36]:
f'{{ and }}'

'{ and }'

In [14]:
f'{"python":!^12}'

'!!!python!!!'

In [37]:
a = "hobby"
a.count('b')

2

In [20]:
a="python is the best choice"
a.count('b')

a.find('e')

12

In [39]:
a = "Life is too short"
print(a.index('t'))
print(a.index('k'))

8

ValueError: substring not found

In [21]:
",".join('abcd')

'a,b,c,d'

In [40]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [41]:
a = 'hi'
a.upper()

'HI'

In [42]:
a = "HI"
a.lower()

'hi'

In [43]:
a=" hi "
a.lstrip()

'hi '

In [44]:
a=' hi '
a.rstrip()

' hi'

In [46]:
a=' hi '
a.strip()

'hi'

In [47]:
a = "Life is too short"
a.replace("Life", "your leg")

'your leg is too short'

In [23]:
a = "life is,too short"
a.split(',')

['life is', 'too short']

In [48]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

## 리스트 자료형

In [ ]:
a[0] + a[2]

4

### 문자열 인덱싱과 슬라이싱

In [ ]:
a = [1, 2 ,3]
a

[1, 2, 3]

In [ ]:
a[-1]

3

In [ ]:
a = 1, 2, ['a', 'b', 'c']
a[-1][0]

'a'

### 문자의 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5]
b= a[:2]
c= a[2:]
print (b)
print (c)

[1, 2]
[3, 4, 5]

In [56]:
a = ['1', '2', '3', '4', '5']
a[1:3]

['2', '3']

In [ ]:
a = [1, 2, 3, 4, 5]
result = a[1:3]
print(result)

[2, 3]

In [58]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

### 리스트 연산하기

In [59]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [60]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [61]:
a = [1, 2, 3]
len(a)

3

In [62]:
a = [1, 2, 3]
str(a[2]) + "hi"

'3hi'

### 리스트 수정과 삭제

In [63]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [64]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [65]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

### 리스트 관련 함수

In [66]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [67]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [69]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [70]:
a = ['a', 'c', 'd', 'b']
a.sort()
a

['a', 'b', 'c', 'd']

In [71]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [72]:
a = [1, 2, 3]
a.index(3)

2

In [74]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [75]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [76]:
a = [1, 2, 3, 4, 5]
a.remove(3)
a

[1, 2, 4, 5]

In [77]:
a = [1, 2, 3]
a.pop()
a

[1, 2]

In [78]:
a = [1, 2, 3]
a.pop(1)
a

[1, 3]

In [79]:
a = [1, 2, 3, 1]
a.count(1)

2

In [80]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [81]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 자료형

In [27]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [34]:
t1 = (1, 2, 3)
t1 +(4,)

(1, 2, 3, 4)