# 자료형

## 숫자형

In [36]:
a = 4.24E10
print(a)

42400000000.0

In [37]:
a=0o177
print(a)

127

In [38]:
a = 0x8ff
b = 0xABC
print(a)
print(b)

2303
2748

In [65]:
2**2

4

In [1]:
10*18**2+2*11

3262

In [5]:
14 % 3

2

In [39]:
14//3

4

## 문자열 자료형

In [40]:
food = "python's favorite food is perl"
food

"python's favorite food is perl"

In [41]:
say = '"python is very easy." he says.'
say

'"python is very easy." he says.'

In [43]:
multiline = "life is too short\nyou need python"
print(multiline)

life is too short
you need python

In [63]:
a = "life is too short\nyou need python"
print(a)

life is too short
you need python

In [66]:
a = "life is too short\tyou need python"
print(a)

life is too short	you need python

In [67]:
a = "life is too short\\you need python"
print(a)

life is too short\you need python

In [45]:
multiline = '''
life is too short
you need python
'''
print(multiline)

life is too short
you need python

### 문자열 연산하기

In [47]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [48]:
a ="python"
a * 2

'pythonpython'

In [6]:
print("=" * 50)
print("my program")
print("=" * 50)

==================================================
my program
==================================================

In [7]:
a = "you need python"
len(a)

15

In [61]:
a = "======================="
len(a)

23

In [49]:
a = "life is too short, you need python"
a[3]

'e'

In [64]:
a = "life is too short, you need python"
a [-3]

'h'

In [50]:
a = "life is too short, you need python"
b = a[12] + a[13] + a[14] + a[19] + a[21]
b

'shoyu'

In [51]:
a = "life is too short, you need python"
a[9:14]

'oo sh'

In [53]:
a = "20250328sunny"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20250328
sunny

In [62]:
a = "20250328sunny"
year = a[:4]
date = a[4:8]
weather = a[8:]
print(year)
print(date)
print(weather)

2025
0328
sunny

In [58]:
a = "pithon"
print(a[1])
a[:1] + 'y' + a[2:]

i

'python'

In [60]:
a = "netwark"
print(a[4])
a[:4] + 'o' + a[5:]

a

'network'

### 문자열 포매팅

In [1]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [2]:
"I eat %s apples" % "five"

'I eat five apples'

In [3]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [8]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 10 apples. so I was sick for three days'

In [4]:
"I have %s apples" % 3

'I have 3 apples'

In [5]:
"rate is %s" % 3.234

'rate is 3.234'

In [6]:
"Error is %d%%" % 98

'Error is 98%'

In [7]:
"%10s" % "hi"

'        hi'

In [8]:
"%-10s" % "Jane"

'Jane      '

In [9]:
"%0.4f" % 3.42134234

'3.4213'

In [10]:
"%10.4f" % 3.42134234

'    3.4213'

In [11]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [12]:
"I eat {0} apples".format("five")

'I eat five apples'

In [14]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [15]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [17]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [18]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [19]:
"{0:<10}".format("hi")

'hi        '

In [20]:
"{0:>10}".format("hi")

'        hi'

In [21]:
"{0:^10}".format("hi")

'    hi    '

In [23]:
"{0:=^10}".format("hi")

'====hi===='

In [24]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [25]:
y=3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [26]:
"{0:10.4f}".format(y)

'    3.4213'

In [9]:
"{{ and }}".format()

'{ and }'

In [10]:
name = "홍길동"
age = 30
f'나의 이름은 {name}입니다. 나이는{age}입니다.'

'나의 이름은 홍길동입니다. 나이는30입니다.'

In [27]:
age = 30
f'나는 내년이면 {age +1 }살이 된다.'

'나는 내년이면 31살이 된다.'

In [11]:
d = {'name':'홍길동', 'age':'30'}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [28]:
f'{"hi":<10}'

'hi        '

In [29]:
f'{"hi":>10}'

'        hi'

In [30]:
f'{"hi":^10}'

'    hi    '

In [31]:
f'{"hi":=^10}'

'====hi===='

In [32]:
f'{"hi":!<10}'

'hi!!!!!!!!'

In [33]:
y=3.42134234
f'{y:0.4f}'

'3.4213'

In [34]:
f'{y:10.4f}'

'    3.4213'

In [36]:
f'{{ and }}'

'{ and }'

In [14]:
f'{"python":!^12}'

'!!!python!!!'

In [37]:
a = "hobby"
a.count('b')

2

In [20]:
a="python is the best choice"
a.count('b')

a.find('e')

12

In [39]:
a = "Life is too short"
print(a.index('t'))
print(a.index('k'))

8

ValueError: substring not found

In [21]:
",".join('abcd')

'a,b,c,d'

In [40]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [41]:
a = 'hi'
a.upper()

'HI'

In [42]:
a = "HI"
a.lower()

'hi'

In [43]:
a=" hi "
a.lstrip()

'hi '

In [44]:
a=' hi '
a.rstrip()

' hi'

In [46]:
a=' hi '
a.strip()

'hi'

In [47]:
a = "Life is too short"
a.replace("Life", "your leg")

'your leg is too short'

In [23]:
a = "life is,too short"
a.split(',')

['life is', 'too short']

In [48]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

## 리스트 자료형

In [ ]:
a[0] + a[2]

4

### 문자열 인덱싱과 슬라이싱

In [ ]:
a = [1, 2 ,3]
a

[1, 2, 3]

In [ ]:
a[-1]

3

In [ ]:
a = 1, 2, ['a', 'b', 'c']
a[-1][0]

'a'

### 문자의 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5]
b= a[:2]
c= a[2:]
print (b)
print (c)

[1, 2]
[3, 4, 5]

In [56]:
a = ['1', '2', '3', '4', '5']
a[1:3]

['2', '3']

In [ ]:
a = [1, 2, 3, 4, 5]
result = a[1:3]
print(result)

[2, 3]

In [58]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

### 리스트 연산하기

In [59]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [60]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [61]:
a = [1, 2, 3]
len(a)

3

In [62]:
a = [1, 2, 3]
str(a[2]) + "hi"

'3hi'

### 리스트 수정과 삭제

In [63]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [64]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [65]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

### 리스트 관련 함수

In [66]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [67]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [69]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [70]:
a = ['a', 'c', 'd', 'b']
a.sort()
a

['a', 'b', 'c', 'd']

In [71]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [72]:
a = [1, 2, 3]
a.index(3)

2

In [74]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [75]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [76]:
a = [1, 2, 3, 4, 5]
a.remove(3)
a

[1, 2, 4, 5]

In [77]:
a = [1, 2, 3]
a.pop()
a

[1, 2]

In [78]:
a = [1, 2, 3]
a.pop(1)
a

[1, 3]

In [79]:
a = [1, 2, 3, 1]
a.count(1)

2

In [80]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [81]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 자료형

In [27]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [82]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [83]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [84]:
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [85]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [34]:
t1 = (1, 2, 3)
t1 +(4,)

(1, 2, 3, 4)

## 딕셔너리 자료형

### 딕셔너리 쌍 추가, 삭제하기

In [86]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [87]:
a['name'] ='pay'
a

{1: 'a', 2: 'b', 'name': 'pay'}

In [88]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pay', 3: [1, 2, 3]}

In [89]:
del a[1]
a

{2: 'b', 'name': 'pay', 3: [1, 2, 3]}

### 딕셔너리 사용법

In [90]:
grade = {'pey':10, 'julliet':99}
print(grade['pey'])
print(grade['julliet'])

10
99

In [91]:
a={1:'a', 2:'b'}
print(a[1])
print(a[2])

a
b

In [92]:
a={'a':1, 'b':2}
print(a['a'])
print(a['b'])

1
2

In [93]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth':'1118'}
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
010-9999-1234
1118

In [95]:
a={1:'a', 1:'b'}
a

{1: 'b'}

### 딕셔너리 관련 함수

In [97]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [98]:
list(a.keys())

['name', 'phone', 'birth']

In [99]:
a.values()

dict_values(['pey', '010-9999-1234', '1118'])

In [100]:
a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [101]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth':'1118'}
a.clear()
a

{}

In [102]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth':'1118'}
print(a.get('name'))
print(a.get('phone'))

pey
010-9999-1234

In [103]:
print(a.get('nokey'))
print(a['nokey'])

None

KeyError: 'nokey'

In [104]:
a.get('nokey', 'foo')

'foo'

In [106]:
print('name' in a)
print('email' in a)

True
False

In [107]:
dic = {'name':'홍길동', 'birth':'1128', 'age':'30'}

## 집합 자료형

In [108]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

### 교집합, 합집합, 차집합 구하기

In [109]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1&s2)
print(s1|s2)
print(s1-s2)
print(s2-s1)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}

### 집합 자료형 관련 함수

In [110]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [111]:
s1 = set([1, 2, 3])
s1.update({4, 5, 6})
s1

{1, 2, 3, 4, 5, 6}

In [112]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

## 불 자료형

In [113]:
bool('python')

True

In [114]:
bool('')

False

## 자료형 값을 저장하는 공간, 변수

In [115]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [116]:
from copy import copy
a = [1, 2, 3]
b = copy(a)

In [117]:
b is a

False

In [118]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

## 되새김 문제

In [162]:
dic = {'국어':'80', '영어':'75', '수학':'55'}
a = int(dic.get('국어'))
print("국어:", a)
b = int(dic.get('수학'))
print("수학:", b)
c = int(dic.get('영어'))
print("영어:", c)
d = (a+b+c)/3
print(d)

국어: 80
수학: 55
영어: 75
70.0

In [131]:
a = 80
b = 75
c = 55
d = (a+b+c)/3
print(d)

70.0

In [164]:
a = 13
b = a % 2
if b == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

In [165]:
pin = "881120-1068234"
yyyymmdd = "19" + pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068234

In [193]:
pin = "881120-1068234"
a = pin[7]
print(a)
if a == '1' or a == '3':
    print("남성입니다.")
else:
   a == '2' or a == '4'
   print("여성입니다.")

1
남성입니다.

In [139]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [140]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [142]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [146]:
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [149]:
a = dict()
a
a[[1]] ='python'

TypeError: unhashable type: 'list'

In [151]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [154]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [155]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

# 제어문

## if문

In [194]:
money = True
if money:
    print("택시를")
    print("타고")
    print("가라")

택시를
타고
가라

In [195]:
money=2000
card= True
if money>=3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [196]:
1 in [1, 2, 3]

True

In [197]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [198]:
pocket = ["card"]
if 'card' in pocket:
    print("버스를 타고 가라")
else:
    print("걸어가라")

버스를 타고 가라

In [199]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print('택시를 타고 가라')
elif card:
    print('택시를 타고 가라')
else:
    print("걸어가라")

택시를 타고 가라

In [ ]:
# message = "success" if score >= 60 else "failure"

## while 문

In [201]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무가 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [205]:
prompt = """
1.Add 
2.Del 
3.List 
4.quit 
Enter number: """

number = 0
while number !=4:
    print(prompt) 
    number = int(input())

1.Add
2.Del
3.List
4.quit
Enter number:

In [207]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee - 1
    print("남은 커피의 양은 %d개입니다." % coffee) 
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [208]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee - 1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money - 300))
        coffee = coffee - 1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0 :
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

커피를 줍니다.
거스름돈 100를 주고 커피를 줍니다.
커피를 줍니다.
커피를 줍니다.
커피를 줍니다.
커피를 줍니다.
커피를 줍니다.
거스름돈 200를 주고 커피를 줍니다.
커피를 줍니다.
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [209]:
a = 0
while a<10:
    a = a+1
    if a%2 == 0: continue
    print(a)

1
3
5
7
9

In [211]:
a = 0
while a<10:
    a = a +1
    if a%3 ==0: continue
    print(a)

1
2
4
5
7
8
10

## for문

In [212]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [213]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [214]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print ("%d번 학생은 합격입니다" % number)
    else:
        print("%d번 학생은 불합격입니다."%number)

1번 학생은 합격입니다
2번 학생은 불합격입니다.
3번 학생은 합격입니다
4번 학생은 불합격입니다.
5번 학생은 합격입니다

In [215]:
marks = [90, 25 ,67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다."%number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [216]:
a = range(10)
a

range(0, 10)

In [217]:
a = range(1, 11)
a

range(1, 11)

In [218]:
add = 0
for i in range(1, 11):
    add = add + i
print(add)

55

In [219]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다."%(number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [220]:
add = 0
for i in range(1, 100):
    add = add+i
print(add)

4950

In [221]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end=" ")
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [222]:
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [223]:
a = [1, 2, 3, 4]
result = [num*3 for num in a if num%2 ==0]
print(result)

[6, 12]

In [224]:
result = [x*y for x in range(2, 10) for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 되새김 문제

In [225]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [227]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result +=i
    i +=1
print(result)

166833

In [230]:
i = 0
while True:
    i += 1
    if i>5: break
    print("*"*i)

*
**
***
****
*****

In [244]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [243]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total/len(A)
print(average)

79.0

In [248]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
for number in range(len(A)):
    if A[number] < 60:
        continue
    print("%d번 학생 합격 축하드립니다." % (number+1))

1번 학생 합격 축하드립니다.
2번 학생 합격 축하드립니다.
4번 학생 합격 축하드립니다.
5번 학생 합격 축하드립니다.
6번 학생 합격 축하드립니다.
7번 학생 합격 축하드립니다.
8번 학생 합격 축하드립니다.
9번 학생 합격 축하드립니다.
10번 학생 합격 축하드립니다.

In [242]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n * 2) 
print(result)

[2, 6, 10]

In [240]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n % 2 == 1 ]
print(result)

[2, 6, 10]

# 파이썬의 입출력

## 함수

In [251]:
def add(a, b):
    return a+b
a = 3
b = 4
c = add(a, b)
print(c)

7

In [252]:
def add(a, b):
    result=a+b
    return result

a = add(3, 4)
print(a)

7

In [253]:
def say():
    return 'HI'

a = say()
print(a)

HI

In [254]:
def add(a, b):
    print("%d, %d의 합은 %d입니다." %(a, b, a+b))

add(3, 4)

3, 4의 합은 7입니다.

In [255]:
a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

In [256]:
def say():
    print("HI")

say()

HI

In [257]:
def sub(a, b):
    return a-b
result = sub(a=7, b=3)
print(result)

4

In [258]:
def add_many(*args):
    result = 0 
    for i in args:
        result = result + i
    return result

result = add_many(1, 2, 3)
print(result)

6

In [260]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

result = add_mul('add', 1, 2, 3, 4, 5)
print(result)

result = add_mul('mul', 1, 2, 3, 4, 5)
print(result)

15
120

In [261]:
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)
print_kwargs(name='poo', age=3)

{'a': 1}
{'name': 'poo', 'age': 3}

In [262]:
def add_and_mul(a, b):
    return a+b, a*b

result = add_and_mul(3, 4)
print(result)

(7, 12)

In [263]:
def say_nick(nick):
    if nick == '바보':
        return
    print("나의 별명은 %s입니다." % nick)

say_nick('야호')

나의 별명은 야호입니다.

In [264]:
say_nick('바보')

In [265]:
def say_myself(name, age, man=True):
    print("나의 이름은 %s입니다." % name)
    print("나이는 %d살입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

say_myself("박응용", 27, True)

나의 이름은 박응용입니다.
나이는 27살입니다.
남자입니다.

In [1]:
a = 1
def vartest(a):
    a = a + 1
vartest(a)
print(a)

1

In [2]:
vartest(3)
print(a)

1

In [4]:
a = 1
def vartest(a):
    a = a + 1
    return a
a = vartest(a)
print(a)

2

In [5]:
a = 1
def vartest():
    global a
    a = a + 1
vartest()
print(a)

2

In [6]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

## 사용자 입출력

In [8]:
a = input()
a

'aa'

In [9]:
print("Life" "is" "too short")

Lifeistoo short

In [10]:
print("Life", "is", "too short")

Life is too short

In [11]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

## 파일 읽고 쓰기

In [12]:
f = open("새파일.txt", 'w')
f.close()

In [15]:
f = open("C:/doit/새파일.txt", 'w')
f.close()

In [16]:
f=open("C:/doit/복습.txt", 'w')
f.close()

In [17]:
f = open("C:/doit/새파일.txt", 'w')
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [18]:
f=open("C:/doit/새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [21]:
f=open("C:/doit/새파일.txt", 'r')
while True:
    line=f.readline()
    if not line:break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [22]:
f = open("C:/doit/새파일.txt", 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [23]:
f=open("C:/doit/새파일.txt", 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [26]:
f=open("C:/doit/새파일.txt", 'r')
for line in f:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

11번째 줄입니다.

12번째 줄입니다.

13번째 줄입니다.

14번째 줄입니다.

15번째 줄입니다.

16번째 줄입니다.

17번째 줄입니다.

18번째 줄입니다.

19번째 줄입니다.

In [25]:
f=open("C:/doit/새파일.txt", 'a')
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [27]:
with open("foo.txt", "w") as f:
    f.write("Life is too short, you need python")

## 프로그램의 입출력

In [ ]:
import sys
args = sys.argv[1:]
for i in args:
    print(i)

In [ ]:
import sys
args = sys.argv[1:]
for i in args:
    print(i.upper(), end=' ')

## 되새김 문제

In [36]:
def is_odd(number):
    if number % 2==1:
        return True
    else:
        return False
    
is_odd(4)

False

In [42]:
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result/len(args)

avg_numbers(1,2)
avg_numbers(1,2,3,4,5)

3.0

In [45]:
input1=int(input("첫 번째 숫자를 입력하세요: "))
input2=int(input("두 번째 숫자를 입력하세요: "))
total = input1 + input2
print("두 수의 합은 %s입니다."%total)

두 수의 합은 9입니다.

In [48]:
print("you" "need" "python")
print("you"+"need"+"python")
print("you","need","python")
print("".join(["you","need","python"]))

youneedpython
youneedpython
you need python
youneedpython

In [74]:
f1=open("C:/doit/test.txt", 'w')
f1.write("Life is too short")
f1.close()

f2=open("C:/doit/test.txt", 'r')
print(f2.read())
f2.close()

Life is too short

In [73]:
user_input=input("저장할 내용을 입력하세요:")
f = open('C:/doit/test.txt', 'a')
f.write(user_input)
f.write("\n")
f.close()

In [59]:
f = open("C:/doit/test.txt", 'r')
body = "Life is too short\nyou need java"
f.close()
body = body.replace("java", "python")
f = open('C:/doit/test.txt', 'w')
f.write(body)
f.close()

In [ ]:
import sys
numbers = sys.argv[1:]
result = 0
for number in numbers:
    result += int(number)
print(result)

# 파이썬 날개 달기

## 클래스

In [76]:
result = 0
def add(num):
    global result
    result += num
    return result

print(add(5))
print(add(10))

5
15

In [77]:
result1 = 0
result2 = 0

def add1(num):
    global result1
    result1 += num
    return result1
def add2(num):
    global result2
    result2 += num
    return result2

print(add1(3))
print(add1(5))
print(add2(5))
print(add2(10))

3
8
5
15

In [78]:
class calculator:
    def __init__(self):
        self.result = 0
    
    def add(self, num):
        self.result += num
        return self.result
    
cal1 = calculator()
cal2 = calculator()

print(cal1.add(3))
print(cal1.add(5))
print(cal2.add(9))
print(cal2.add(10))

3
8
9
19

In [80]:
class FourCal:
    pass

In [81]:
a = FourCal()
type(a)

__main__.FourCal

In [82]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

In [84]:
a = FourCal()
a.setdata(4, 2)
print(a.first)
print(a.second)

4
2

In [86]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result

In [87]:
a = FourCal()
a.setdata(4, 2)
a.add()

6

In [128]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [129]:
a = FourCal()
b = FourCal()
a.setdata(4, 2)
b.setdata(3, 8)
print(a.add())
print(a.mul())
print(a.sub())
print(a.div())
print(b.add())
print(b.mul())
print(b.sub())
print(b.div())

6
8
2
2.0
11
24
-5
0.375

In [98]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [99]:
a = FourCal()

TypeError: FourCal.__init__() missing 2 required positional arguments: 'first' and 'second'

In [126]:
a = FourCal(4, 2)
a.first
a.second
print(a.add())
print(a.div())

6
2.0

In [105]:
class MoreFourCal(FourCal):
    pass

In [106]:
a = MoreFourCal(4, 2)
a.add()

6

In [107]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result

In [125]:
a = MoreFourCal(4, 2)
print(a.pow())
print(a.add())

16
6

In [110]:
a = FourCal(4, 0)
a.div()

ZeroDivisionError: division by zero

In [111]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second==0:
            return 0
        else:
            return self.first/self.second

In [112]:
a = SafeFourCal(4, 0)
a.div()

0

In [113]:
class family:
    lastname = "김"

In [114]:
family.lastname

'김'

In [123]:
a = family()
b = family()
print(a.lastname)
print(b.lastname)

김
김

In [124]:
family.lastname = "박"
print(a.lastname)
print(b.lastname)

박
박

In [122]:
family.lastname = "김"
a.lastname = "최"
print(a.lastname)
print(family.lastname)
print(b.lastname)

최
김
김

## 모듈

In [ ]:
def add(a, b):
    return a+b
def sub(a, b):
    return a-b

In [ ]:
PI = 3.141592

class Math:
    def solv(self, r):
        return PI * (r ** 2)

def add(a, b):
    return a+b

In [ ]:
#import mod2
#result = mod2.add(3,4)
#print(result)

## 예외 처리

In [1]:
try:
    4/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [2]:
try:
    f = open('foo.txt', 'w')
    # 무언가를 수행

finally:
    f.close()

In [3]:
try:
    a = [1, 2]
    print(a[3])
    4 / 0
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")
except IndexError:
    print("인덱싱할 수 없습니다.")

인덱싱할 수 없습니다.

In [4]:
try:
    a = [1,2]
    print(a[3])
    4/0
except ZeroDivisionError as e:
    print(e)
except IndexError as e:
    print(e)

list index out of range

In [5]:
try:
    a = [1, 2]
    print(a[3])
    4/0
except (ZeroDivisionError, IndexError) as e:
    print(e)

list index out of range

In [7]:
try:
    age = int(input('나이를 입력하세요: '))
except:
    print('입력이 정확하지 않습니다.')
else:
    if age <= 18:
        print("미성년자는 출입금지 입니다.")
    else:
        print('환영합니다.')

미성년자는 출입금지 입니다.

In [8]:
try:
    f = open("나없는 파일", 'r')
except FileNotFoundError:
    pass

In [9]:
class Bird:
    def fly(self):
        raise NotImplementedError

In [10]:
class Eagle(Bird):
    pass
eagle = Eagle()
eagle.fly()

NotImplementedError:

In [11]:
class Eagle(Bird):
    def fly(slef):
        print("very fast")

eagle=Eagle()
eagle.fly()

very fast

In [20]:
class MyError(Exception):
    pass
def say_nick(nick):
    if nick == '바보':
     raise MyError()
    print(nick)
say_nick("천사")
say_nick('바보')

천사

MyError:

In [21]:
class MyError(Exception):
    pass
def say_nick(nick):
    if nick == '바보':
        raise MyError()
    print(nick)
try:
    say_nick("천사")
    say_nick('바보')
except MyError:
    print("허용되지 않은 별명입니다.")

천사
허용되지 않은 별명입니다.

In [22]:
class MyError(Exception):
    pass
def say_nick(nick):
    if nick == '바보':
        raise MyError()
    print(nick)
try:
    say_nick("천사")
    say_nick('바보')
except MyError as e:
    print(e)

천사

In [23]:
class MyError(Exception):
    def __str__(self):
        return "허용되지 않은 별명입니다."

## 내장 함수

In [92]:
# 어떤숫자를 입력받았을때 그 숫자의 절댓값을 리턴
print(abs(3))
print(abs(-3))
print(abs(-1.2))

3
3
1.2

In [95]:
#반복 가능한 데이터x를 입력값으로 받으며 x의 요소가 모두 참이면 true, 거짓이면 false
all([1, 2, 3])
all([1,2,3,0])

False

In [94]:
#반복가능한 데이터 x를 입력으로 받아 x의 요소중 하나라도 참이면 true, 거짓이면 false
any([1, 2, 3, 0])

True

In [30]:
any([0, ""])

False

In [31]:
any([])

False

In [96]:
#유니코드 숫자 값을 입력받아 코드에 해당하는 문자를 리턴
chr(97)

'a'

In [33]:
chr(44032)

'가'

In [97]:
# 객체가 지닌 변수나 함수를 보여주는 함수
dir([1,2,3])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [98]:
# 2개의 숫자를 입력 받아 a를 b로 나눈 몫과 나머지를 튜플로 리턴
divmod(7, 3)

(2, 1)

In [37]:
7//3

2

In [99]:
#enumerate: 순서가 있는 데이터를 입력으로 받아 인덱스 값을 포함하는 객체를 리턴
for i, name in enumerate(['body', 'foo', 'bar']):
    print(i, name)

0 body
1 foo
2 bar

In [100]:
# 문자열로 구성된 표현식을 입력받아 해당 문자열을 실행하는 결괏값을 리턴
eval('1 + 2')

3

In [41]:
eval("'hi'+'a'")

'hia'

In [42]:
eval('divmod(4,3)')

(1, 1)

In [ ]:
#filter : filter(함수, 반복_가능한_데이터) 리턴값이 참인 것만 묶어서 리턴
def positive(l):
    result=[]
    for i in l:
        if i > 0:
            result.append(i)
    return result
    
print(positive([1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [46]:
def positive(x):
    return x > 0
print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]

In [47]:
list(filter(lambda x: x> 0, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [101]:
# 정수를 입력 받아 16진수 문자열로 변환하여 리턴
hex(234)

'0xea'

In [102]:
# 객체를 입력받아 객체의 고유 주솟값(레퍼런스)을 리턴
a= 3
id(3)

140714817881064

In [103]:
# 사용자 입력을 받는 함수
a = input()

In [51]:
a

'hi'

In [53]:
b = input("Enter: ")

In [54]:
b

'hi'

In [104]:
# 문자열 형태의 숫자나 소수점이 있는 숫자를 정수로 리턴
print(int('3'))
print(int(3.4))

3
3

In [59]:
int('11', 2)

3

In [60]:
int('1A', 16)

26

In [ ]:
# insinstance(object, class): 첫번째 인수로 객체, 두번째 인수로 클래스를 받음 객체가 클래스의 인스턴스인지 파악하여 참이면 true, 거짓이면 false 리턴
class Person:
    pass
a = Person()
isinstance(a, Person)

True

In [62]:
b =3
isinstance(b, Person)

False

In [ ]:
# 입력값의 길이를 리턴
len("python")

6

In [106]:
# 반복 가능한 데이터를 입력받아 리스트로 만들어 리턴
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [65]:
a =[1, 2, 3]
b = list(a)
b

[1, 2, 3]

In [107]:
# map(f, iterable) : 함수(f)와 반복 가능한 데이터를 입력받아 각 요소에 함수 f를 적용한 결과를 리턴
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number * 2)
    return result
result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

In [67]:
def two_times(x):
    return x * 2
list(map(two_times, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [68]:
list(map(lambda a: a*2, [1,2,3,4]))

[2, 4, 6, 8]

In [108]:
# 반복 가능한 데이터를 입력받아 최댓값을 리턴하는 함수
max([1, 2, 3])

3

In [ ]:
max("python") # <- 문자열의 경우, 유니코드 값이 가장 큰 문자를 리턴

'y'

In [109]:
# 반복 가능한 데이터를 입력받아 최솟값을 리턴하는 함수
min([1,2,3])

1

In [ ]:
min("python") # <- 문자열의 경우, 유니코드 값이 가장 작은 문자를 리턴

'h'

In [110]:
# 정수를 8진수 문자열로 바꾸어 리턴
print(oct(34))
print(oct(12345))

0o42
0o30071

In [ ]:
# open(filename, [model])은 파일이름과 읽기방법을 입력받아 파일 객체를 리턴하는 함수
# w - 쓰기 모드로 파일 열기
# r - 읽기 모드로 파일 열기
# a - 추가 모드로 파일 열기
# b - 바이너리 모드로 파일 열기
f = open("binary_file", "rb")

In [ ]:
#유니코드 숫자값 리턴
ord('a')

97

In [133]:
ord('가')

44032

In [ ]:
# x를 y제곱한 결과
pow(2, 4)

16

### range

In [76]:
#인수가 하나일 경우
list(range(5))

[0, 1, 2, 3, 4]

In [77]:
#인수가 2개일 경우
list(range(5, 10))

[5, 6, 7, 8, 9]

In [78]:
#인수가 3개일 경우
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [134]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [80]:
# 숫자를 입력받아 반올림해 리턴
print(round(4.6))
print(round(5.678, 2))

5
5.68

In [125]:
#입력 데이터를 정렬한 후 그 결과를 리스트로 리턴하는 함수수
print(sorted([3,1,2]))
print(sorted({'a','c','b'}))
print(sorted("zero"))
print(sorted((3,2,1)))

[1, 2, 3]
['a', 'b', 'c']
['e', 'o', 'r', 'z']
[1, 2, 3]

In [84]:
#문자열 형태로 객체를 변환하여 리턴
str(3)

'3'

In [131]:
str('hi')

'hi'

In [85]:
#입력 데이터의 합을 리턴
sum([1,2,3])

6

In [132]:
sum((4,5,6))

15

In [86]:
#반복 가능한 데이터를 튜플로 바꾸어 리턴
tuple("abc")

('a', 'b', 'c')

In [87]:
tuple([1, 2, 3])

(1, 2, 3)

In [88]:
#입력값의 자료형이 무엇인지 알려주는 함수
type("abc")

str

In [89]:
type([])

list

In [90]:
type(open("test", 'w'))

_io.TextIOWrapper

In [91]:
#동일한 개수로 이루어진 데이터를 묶어서 리턴
list(zip([1,2,3], [4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [126]:
list(zip([1,2,3], [4,5,6], [7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [127]:
list(zip("abc","def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

## 표준 라이브러리

In [111]:
# datetime.date : 연,월,일로 날짜를 표현할 때 사용하는 함수

import datetime
day1 = datetime.date(2021, 12, 14)
day2 = datetime.date(2023, 4, 5)

diff = day2 - day1
diff.days

477

In [112]:
day = datetime.date(2021, 12, 14)
day.weekday()

1

In [113]:
day.isoweekday()

2

### time

In [114]:
# time.time : UTC를 사용하여 현재 시간을 실수 형태로 리턴하는 함수
import time
time.time()

1743569724.035248

In [115]:
# time.localtime : time.time이 리턴한 실수값을 연,월,일,분,.. 형태로 바꾸어주는 함수
time.localtime(time.time())

time.struct_time(tm_year=2025, tm_mon=4, tm_mday=2, tm_hour=13, tm_min=56, tm_sec=22, tm_wday=2, tm_yday=92, tm_isdst=0)

In [117]:
# time.asctime : time.localtime가 리턴된 튜플 형태의 값을 인수로 받아 날짜와 시간을 알아보기 쉬운형태로 리턴
time.asctime(time.localtime(time.time()))

'Wed Apr  2 13:57:45 2025'

In [118]:
# time.ctime : time.asctime을 간단한게 표시 asctime과 다른점은 항상 현재 시간만을 리턴
time.ctime()

'Wed Apr  2 14:02:22 2025'

In [ ]:
# time.strftime : 시간에 관계된 것을 세밀하게 표현하는 여러가지 포맷코드 제공
# time.strftime('출력할_형식_포맷_코드', time.localtime(time.time()))
import time
print(time.strftime('%x', time.localtime(time.time()))) # <-현재 설정된 지역의 날짜 출력
print(time.strftime('%c', time.localtime(time.time()))) # <-날짜와 시간 출력력

04/02/25
Wed Apr  2 14:44:54 2025

In [121]:
# time.sleep : 주로 루프 안에서 사용 사용시 일정 시간 간격을 두고 루프 실행할수 있음
import time
for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3

KeyboardInterrupt:

In [129]:
# 인수 없이 time 함수 사용시 현재 시각을 기준으로 수행됨
print(time.localtime())
print(time.asctime())
print(time.strftime('%c'))

time.struct_time(tm_year=2025, tm_mon=4, tm_mday=2, tm_hour=14, tm_min=42, tm_sec=37, tm_wday=2, tm_yday=92, tm_isdst=0)
Wed Apr  2 14:42:37 2025
Wed Apr  2 14:42:37 2025