In [36]:
a = 4.24E10
print(a)

42400000000.0

In [37]:
a=0o177
print(a)

127

In [38]:
a = 0x8ff
b = 0xABC
print(a)
print(b)

2303
2748

In [65]:
2**2

4

In [1]:
10*18**2+2*11

3262

In [5]:
14 % 3

2

In [39]:
14//3

4

In [40]:
food = "python's favorite food is perl"
food

"python's favorite food is perl"

In [41]:
say = '"python is very easy." he says.'
say

'"python is very easy." he says.'

In [43]:
multiline = "life is too short\nyou need python"
print(multiline)

life is too short
you need python

In [63]:
a = "life is too short\nyou need python"
print(a)

life is too short
you need python

In [66]:
a = "life is too short\tyou need python"
print(a)

life is too short	you need python

In [67]:
a = "life is too short\\you need python"
print(a)

life is too short\you need python

In [45]:
multiline = '''
life is too short
you need python
'''
print(multiline)

life is too short
you need python

In [47]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [48]:
a ="python"
a * 2

'pythonpython'

In [6]:
print("=" * 50)
print("my program")
print("=" * 50)

==================================================
my program
==================================================

In [7]:
a = "you need python"
len(a)

15

In [61]:
a = "======================="
len(a)

23

In [49]:
a = "life is too short, you need python"
a[3]

'e'

In [64]:
a = "life is too short, you need python"
a [-3]

'h'

In [50]:
a = "life is too short, you need python"
b = a[12] + a[13] + a[14] + a[19] + a[21]
b

'shoyu'

In [51]:
a = "life is too short, you need python"
a[9:14]

'oo sh'

In [53]:
a = "20250328sunny"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20250328
sunny

In [62]:
a = "20250328sunny"
year = a[:4]
date = a[4:8]
weather = a[8:]
print(year)
print(date)
print(weather)

2025
0328
sunny

In [58]:
a = "pithon"
print(a[1])
a[:1] + 'y' + a[2:]

i

'python'

In [60]:
a = "netwark"
print(a[4])
a[:4] + 'o' + a[5:]

a

'network'

In [8]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 10 apples. so I was sick for three days'

In [9]:
"{{ and }}".format()

'{ and }'

In [10]:
name = "홍길동"
age = 30
f'나의 이름은 {name}입니다. 나이는{age}입니다.'

'나의 이름은 홍길동입니다. 나이는30입니다.'

In [11]:
d = {'name':'홍길동', 'age':'30'}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [14]:
f'{"python":!^12}'

'!!!python!!!'

In [20]:
a="python is the best choice"
a.count('b')

a.find('e')

12

In [21]:
",".join('abcd')

'a,b,c,d'

In [23]:
a = "life is,too short"
a.split(',')

['life is', 'too short']

In [25]:
a = [1, 2, 3, 4, 5]
result = a[1:3]
print(result)

[2, 3]

In [27]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [34]:
t1 = (1, 2, 3)
t1 +(4,)

(1, 2, 3, 4)