#파이썬 공부 첫날

In [ ]:
print("안녕하세요.")

In [ ]:
print("저도 안녕합니다.")

# 파이썬 두번째

In [ ]:
 print("개구리 알")
 print("꼬리 달린 올챙이")
 print("뒷 다리 있는 올챙이")
 print("앞 뒤 다리 있는 올챙이")
 print("개구리")

개구리 알
꼬리 달린 올챙이
뒷 다리 있는 올챙이
앞 뒤 다리 있는 올챙이
개구리

#파이썬 공부 3번째

In [ ]:
name = input("이름: ")
age = int(input("나이: "))
print("이름:", name, "나이:", age)

이름: 호호 나이: 123

In [ ]:
a = int(input("정수: "))
b = int(input("정수: "))
if a>b:  
    print("큰 수:", a)
else:  
    print("큰 수:", b)

In [ ]:
a = int(input("정수: "))
if a<0:    
 print(a, ": 음수")
elif a>0:     
 print(a, ": 양수")
else:     
 print(a, ": 0")

-5 : 음수

In [ ]:
a = int(input("정수: "))
b = int(input("정수: "))
c = int(input("정수: "))
if a>b:     
 if a>c:        
  print("가장 큰 수 :", a)            
 else:
  print("가장 큰 수 :", c)
else: 
 if b>c:
  print("가장 큰 수 :", b)
 else:
  print("가장 큰 수 :", c)

가장 큰 수 : 9

In [ ]:
m = int(input("정수: "))
a = int(input("정수: "))
if a>m:     
    m = a
a = int(input("정수: "))
if a>m:    
  m = a
print("가장 큰 수:", m)

가장 큰 수: 7

In [ ]:
a = int(input("정수: "))
if a%2 == 0:    
 print(a, ": 짝수")
else:     
 print(a, ": 홀수")

1 : 홀수

In [ ]:
a = int(input("정수: "))
if a%3 == 0:     
 print(a, ": 3의 배수")
else:     
 print(a, ": 3의 배수 아님")

3 : 3의 배수

In [ ]:
charge = 5000
age = int(input("나이: "))
if age<8:     
 print("입장료: 0")
elif age<60:     
 print("입장료:", charge)
else:     
 print("입장료:", charge*0.5)

입장료: 5000

In [ ]:
a = int(input("정수: "))
if a%3==0 and a%5==0:     
 print(a, ": 3과 5의 배수")
else:     
 print(a, ": 3과 5의 배수 아님")

5 : 3과 5의 배수 아님

In [ ]:
age = int(input("나이: "))
if age<8 or age>=60:     
 print("입장료: 무료")
else:     
 print("입장료: 5000원")

입장료: 무료

In [ ]:
charge = 1000
km = int(input("km: "))
if km<5:
    print("요금:", charge)
elif km>=5 or km<=10:
    print("요금:", charge*2)
else:
    km>=10
    print("요금:", charge*3)

요금: 2000

In [ ]:
m = int(input("정수: "))
a = int(input("정수: "))
if a<m:
    m = a
a = int(input("정수: "))
if a<m:
    m = a
print("가장 작은 수:", m)

가장 작은 수: 1

In [ ]:
a = int(input("정수: "))
b = int(input("정수: "))
print("덧셈:", a+b, "곱셈:", a*b)

In [ ]:
a = int(input("정수: "))
b = int(input("정수: "))
print("몫:", a//b, "나머지:", a%b)

In [ ]:
a = int(input("성적1: "))
b = int(input("성적2: "))
c = int(input("성적3: "))
sum = a+b+c
print("총점:", sum, "평균:", sum/3)

In [ ]:
s = int(input("초 단위의 시간: "))
h = s//3600
s = s%3600
m = s//60
s = s%60
print(h, "시간", m, "분", s, "초")

In [ ]:
print(5+3)
print(5-3)
print(5*3)
print(5/3)
print(5//3)
print(5%3)
print(5**3)

8
2
15
1.6666666666666667
1
2
125

### 1부터 10까지 출력하기(1)

In [ ]:
i=1
while i<=10:     
 print(i, end=" ")    
 i = i+1

### 1부터 10까지 출력하기(2)

In [ ]:
for i in range(1, 11):    
 print(i, end=" ")

### 10부터 1까지 출력하기

In [ ]:
for i in range(10, 0, -1):    
 print(i, end=" ")

### 1부터 100까지의 합 구하기

In [ ]:
sum = 0
for i in range(1, 101):     
 sum = sum+i
print(sum)

### 1부터 100까지 중 짝수의 합 구하기(1)

In [ ]:
sum = 0
for i in range(2, 101, 2):    
 sum = sum+i
print(sum)

### 1부터 100까지 중 짝수의 합 구하기(2)

In [ ]:
sum = 0
for i in range(1, 101):     
 if i%2==0:        
   sum = sum+i
print(sum)

### 1,-2,3,....,99,-100의 합 구하기

In [ ]:
sum = 0
for i in range(1, 101):     
 if i%2==0:         
  sum=sum-i
 else:
  sum=sum+i
print(sum)

### 계승 구하기

In [ ]:
fact = 1
for i in range(5, 0, -1):     
 fact = fact*i
print(fact)

### 약수 구하기

In [ ]:
n = int(input("정수: "))
for i in range(1, n+1):     
 if n%i == 0:        
   print(i, end=" ")

### 공약수 구하기

In [ ]:
n1 = int(input("정수: "))
n2 = int(input("정수: "))
for i in range(1, n1+1):     
 if n1%i == 0 and n2%i == 0:         
  print(i, end=" ")

### 최대공약수 구하기

In [ ]:
n1 = int(input("정수: "))
n2 = int(input("정수: "))
for i in range(n1, 0, -1):     
 if n1%i==0 and n2%i==0:                 
  print(i)
  break

### 소수 판별하기

In [ ]:
chk = 1
n = int(input("정수: "))
for i in range(2, n):     
    if n%i == 0:                  
      chk = 0
      break
if chk==1:     
   print(n, ": 소수임")
else:     
   print(n, ": 소수아님")

### 피보나치수열 구하기

In [ ]:
a = 1
b = 1
print(a, b, end=" ")
for i in range(3, 21):     
 c = a+b      
 print(c, end=" ")
 a = b
 b = c

### 최댓값 구하기

In [ ]:
a = int(input("정수: "))
m = a
while a!=0:         
 if a>m:
  m = a
 a = int(input("정수: "))
print("최댓값 :", m)

### 직각 삼각형 모양으로 수 출력하기

In [ ]:
for i in range(1, 6):
 for j in range(1, i+1):              
  print(j, end=" ")
 print()

### 1부터 10까지의 정수에 대한 약수 구하기

In [ ]:
for i in range(1, 11):
 print(i, "약수:", end=" ")     
 for j in range(1, i+1):
  if i%j==0:
   print(j, end=" ")
 print()

### 2부터 100까지의 소수 구하기

In [ ]:
for i in range(2, 101):     
   chk = 1     
   for j in range(2, i):
    if i%j==0:
     chk = 0
     break
   if chk==1:
    print(i, end=" ")

### 합구하기

In [ ]:
n = 0
sum = 0
for i in range(1, 11):
    n = n+i
    sum = sum+n
print(sum)

### 구구단

In [ ]:
for i in range(2, 10):    
   for j in range(1, 10):    
        print(i, "*", j, "=", i*j, end=" ")
   print()

### 5부터 15까지 출력하기

In [ ]:
i=5
while i<=15:
 print(i, end=" ")
 i = i+1

### while형 반복 구조로 10부터 1까지 출력하기

In [ ]:
i=10
while i>=1:
    print(i, end=" ")
    i = i-1

### 1부터 입력받은 수까지의 합 출력하기

In [ ]:
sum = 1
for i in range(1, int(input("정수: "))):
    sum = sum+i
print(sum)

### 3의 배수의 합을 출력

In [ ]:
sum = 0
for i in range(1, 101, 3):
    sum = sum+i
print(sum)

### 3의 배수의 합을 출력

In [ ]:
sum =0 
for i in range(1, 101):
    if i%3==0:
        sum = sum+i
print(sum)

### 합 출력

In [ ]:
sum = 0
for i in range(1, 101):
    if i%3==0:
        sum=sum-i
    else:
        sum=sum+i
print(sum)

### 약수 구하기

In [ ]:
n = int(input("정수= "))
for i in range(1, n+1):
    if n%i == 0:
        print(i, end=" ")

### 세 수의 공약수 구하기

In [ ]:
n1 = int(input("정수: "))
n2 = int(input("정수: "))
n3 = int(input("정수: "))
for i in range(1, n1+1):
    if n1%i == 0 and n2%i == 0 and n3%i == 0:
        print(i, end=" ")

### 피보나치수열의 합

In [ ]:
a = 1
b = 1
sum = a+b
for i in range(3, 21):
    c = a+b
    a=b
    b=c
    sum = sum + c
print(sum)

### 최솟값을 구하기

In [ ]:
a = int(input("정수: "))
m = a
while a!=0:
    if a<m:
        m=a
    a = int(input("정수 :"))
print("최솟값: ", m)

### 직각 삼각형 모양으로 수 출력

In [ ]:
for i in range(6, 1, -1):
    for j in range(1, i):
        print(j, end=" ")
    print()

In [ ]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

### 1! 2! ... 5!의 합 구하기

In [ ]:
n = 1
sum = 0
for i in range(1, 6):
       n = n*i
       sum = sum+n
print(sum)

### 1부터 10까지의 수 저장 및 출력

In [ ]:
a = []
for i in range(1, 11):     
 a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 10부터 1까지의 수 저장 및 출력

In [ ]:
a = []
for i in range(10, 0, -1):
    a.append(i)
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 10,20,.....,100 저장하고 거꾸로 출력하기

In [ ]:
a = []
for i in range(10, 101, 10):
  a.append(i)
for i in range(9, -1, -1):     
 print(a[i], end=" ")

100 90 80 70 60 50 40 30 20 10

### 배열 요소 거꾸로 뒤집기

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(0, 5):  
  temp = a[i]   
  a[i] = a[9-i] 
  a[9-i] = temp
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 배열 a 요소 배열 b에 거꾸로 저장하기

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = []
for i in range(0, 10):     
     b.append(a[9-i])
print(b)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 배열 요소 왼쪽으로 한 칸씩 원형으로 이동하기

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
temp = a[0]
for i in range(0, 9):
  a[i] = a[i+1]
a[9] = temp
print(a)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

### 배열 요소 오른쪽으로 한 칸씩 원형으로 이동하기

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
temp = a[9]
for i in range(9, 0, -1):
 a[i] = a[i-1]
a[0] = temp
print(a)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 배열 최댓값 구하기

In [ ]:
import random
a = []
for i in range(10):
 a.append(random.randint(1, 100))
print(a)
m = a[0]
for i in range(1, 10):
 if m<a[i]:        
    m = a[i]
print("최댓값:", m)

[85, 79, 45, 78, 65, 1, 46, 51, 82, 58]
최댓값: 85

### 배열 최솟값 구하기

In [ ]:
import random
a = []
for i in range(10):
    a.append(random.randint(1, 100))
print(a)
m = a[0]
for i in range(1, 10):
    if m>a[i]:
        m = a[i]
print("최솟값:", m)

[70, 75, 45, 9, 49, 66, 80, 53, 9, 64]
최솟값: 9

### 에라토스테네스의 체

In [ ]:
a = []
for i in range(1, 102):
 a.append(0)
for i in range(2, 101):
    if a[i]==0:
     for j in range(i*2, 101, i):
        a[j] = 1
for i in range(2, 101):         
  if a[i]==0:
    print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### 10진수를 2진수로 변환하여 배열에 저장하기

In [ ]:
b = []
n = int(input("10진수: "))
while n!=0:
 b.append(n%2)
 n = n//2
for i in range(len(b)-1, -1, -1):
 print(b[i], end=" ")

1 1 0 1 0 0

### 10진수를 8진수로 변환하여 배열에 저장하기

In [ ]:
b =[]
n = int(input("10진수: "))
while n!=0:
    b.append(n%8)
    n = n//8
for i in range(len(b)-1, -1, -1):
    print(b[i], end=" ")

6 4

### 배열에 저장된 2진수를 10진수로 변환하기

In [ ]:
b = [1,1,0,0,1]
n = 0
for i in range(0, 5):
 n = n + b[i]*(2**(4-i))
print(n)

25

### 배열에 저장된 8진수를 10진수로 변환하기

In [ ]:
b = [6, 4]
n = 0
for i in range(0, 2):
 n = n + b[i]*(8**(1-i))
print(n)

52

### 선형 탐색

In [ ]:
a = [26, 27, 39, 63, 57, 75, 11, 76, 80, 18]
key = int(input("키: "))
cnt = 0
while cnt<10:
     if key == a[cnt]:   
       print(cnt, "에서 탐색 성공")
       break
     cnt = cnt+1
if cnt == 10:
   print("탐색 실패")

1 에서 탐색 성공

In [ ]:
a = [26, 27, 39, 63, 57, 75, 11, 76, 80, 18]
key = int(input("키 : "))
if key in a:
 print(a.index(key), "에서 탐색 성공")
else:
 print("탐색 실패")

5 에서 탐색 성공

### 이진 탐색

In [ ]:
a = [11, 18, 26, 27, 39, 57, 63, 75, 76, 80]
key = int(input("키 : "))
low = 0
high = 9
while low<=high:   
    mid = (low+high)//2
    if  key == a[mid]:
     print(mid, "에서 탐색 성공")
     break
    elif key < a[mid]:
     high = mid-1
    else:
     low = mid+1
if low > high:
 print("탐색 실패")

7 에서 탐색 성공

### 내림차순으로 정렬된 데이터 집합에 대한 이진 탐색

In [ ]:
a = [90, 85, 74, 68, 54, 47, 35, 21, 18, 8]
key = int(input("키 : "))
low = 0
high = 9
while low<=high:   
    mid = (low+high)//2
    if  key == a[mid]:
     print(mid, "에서 탐색 성공")
     break
    elif key > a[mid]:
     high = mid-1
    else:
     low = mid+1
if low > high:
 print("탐색 실패")

6 에서 탐색 성공

### 선택 정렬

In [ ]:
a = [20, 50, 30, 10, 60, 40]
for i in range(0, 5):    
   m = i     
   for j in range(i+1, 6):
    if a[j]<a[m]:
      m = j
   temp = a[i]     
   a[i] = a[m]
   a[m] = temp
print(a)

[10, 20, 30, 40, 50, 60]

In [ ]:
a = [20, 50, 30, 10, 60, 40]
a.sort()
print(a)

[10, 20, 30, 40, 50, 60]

### 버블 정렬

In [ ]:
a = [20, 50, 30, 10, 60, 40]
for i in range(0, 5):
 for j in range(0, 5-i):
   if a[j]>a[j+1]:
    temp = a[j]
    a[j] = a[j+1]
    a[j+1] = temp            
print(a)

[10, 20, 30, 40, 50, 60]

### 병합 정렬

In [ ]:
a = [1, 3, 5, 7]
b = [3, 4, 8, 10]
c = []
i = 0
j = 0
while i<4 and j<4:
    if a[i]<b[j]:    
      c.append(a[i])
      i = i+1
    else:
      c.append(b[j])
      j = j+1  
if i==4:
    while j<4:
     c.append(b[j])
     j = j+1
else:
    while i<4:
     c.append(a[i])
     i = i+1
print(c)

[1, 3, 3, 4, 5, 7, 8, 10]

### 함수 이용해서 두 수 중 큰 수 찾기

In [ ]:
def func(a,b):
     if a>b:
         return a
     else:
         return b
a = int(input("정수: "))
b = int(input("정수: "))
r = func(a, b)
print(r)

7

In [ ]:
def func(a, b):
    if a<b:
        return a
    else: 
        return b
a = int(input("정수: "))
b = int(input("정수: "))
r = func(a, b)
print(r)

3

### 함수 이용해서 큰 수 찾기

In [ ]:
def func(a, b, c):
    if a>b:
        if a>c:
            return a
        else: 
            return c
    else: 
        if b>c:
            return b
        else:
            return c
a = int(input("정수: "))
b = int(input("정수: "))
c = int(input("정수: "))
r = func(a, b, c)
print(r)

9

### 함수 이용해서 1부터 10까지의 약수 구하기

In [ ]:
def func(a):
    for i in range(1, a+1):
        if a%i==0:
            print(i, end=" ")
for i in range (1, 11):
    print(i, ':', end=" ")
    func(i)
    print()

1 : 1
2 : 1 2
3 : 1 3
4 : 1 2 4
5 : 1 5
6 : 1 2 3 6
7 : 1 7
8 : 1 2 4 8
9 : 1 3 9
10 : 1 2 5 10

### 소수 판별하는 함수

In [ ]:
def func(a):
    for i in range(2, a):
        if a%i==0:
            print(i, end=" ")
for i in range(2, 11):
    print(i, ":", end=" ")
    func(i)
    print()

2 :
3 :
4 : 2
5 :
6 : 2 3
7 :
8 : 2 4
9 : 3
10 : 2 5

In [ ]:
def func(a):
    chk = 1
    for i in range(2, a):
        if a%i==0:
            chk=0
            break
    if chk==1:
        print(a, ": 소수")
    else:
        print(a, ": 소수아님")
for i in range(2, 11):
    func(i)

2 : 소수
3 : 소수
4 : 소수아님
5 : 소수
6 : 소수아님
7 : 소수
8 : 소수아님
9 : 소수아님
10 : 소수아님

### 재귀함수 이용해서 1부터 입력 받은 수까지의 합 구하기

In [ ]:
def s(a):
    if a<=1:
        return 1
    return a+s(a-1)
n = int(input("정수: "))
result = s(n)
print(result)

55

### 재귀함수 이용해서 입력받은 수에 대한 계승 구하기

In [ ]:
def f(n):
    if n > 1:
        return n * f(n-1)
    else:
        return 1
n = int(input("정수: "))
result = f(n)
print(result)

3628800

### 재귀함수 이용해서 피보나치수열 구하기

In [ ]:
def fibo(a):
    if a<=2:
        return 1
    return fibo(a-1)+fibo(a-2)
n = int(input("정수: "))
result = fibo(n)
print(result)

13